body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 1px solid transparent;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #fff;
    border-bottom: 1px solid #ee3346;
    color: #ee3346;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #fff;
    border-bottom: 1px solid #ee3346;
    color: #ee3346;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-top: none;
}


/* Style the close button */

.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {
    color: red;
}

.main {
    font-family: Arial;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.action {
    display: block;
    margin: 100px auto;
    max-width: 100%;
    text-align: center;
}

.action a {
    display: inline-block;
    padding: 5px 10px;
    background: #f30;
    color: #fff;
    text-decoration: none;
}

.action a:hover {
    background: #000;
}

.slider-for {
    float: left;
    width: 75%;
}

.mainSliderImg {
    min-height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.innerHeaderTop {
    padding-top: 5px;
    padding-bottom: 5px;
}

.headerTop {
    background-color: #f0f3f8;
}

.logo {
    padding-top: 16px;
    padding-bottom: 16px;
}

.innerAddress {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 24px;
}

.headerCategoryInner {
    background: #f0f3f8;
    text-align: center;
}

.probil {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 2px solid transparent;
}

.probil:hover {
    border-top: 2px solid #ee3346;
}

.probil:active {
    border-top: 2px solid #ee3346;
}

.probil:nth-child(2) {
    border-top: 2px solid #ee3346;
}

.categorySpan {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
}

.tradeItem {
    padding-top: 50px;
    padding-bottom: 20px;
}

.productItemTitle {
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
    color: #0f0f0f;
    padding-bottom: 20px;
}

.itemCode {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #b8b8b8;
}

.GoCatalog {
    background: none;
    padding: 10px 20px;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    margin-bottom: 20px;
}

.price {
    font-size: 30px;
    color: #ee3346;
    padding-bottom: 40px;
}

.price sup {
    font-size: 16px;
}

.buyBtn {
    background: #ee3346;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-bottom: 20px;
}

.description {
    padding-bottom: 30px;
}

.slick-track {
    background-color: #f9fafc;
}

.littleSlider {
    padding-top: 8px;
    padding-bottom: 8px;
}